---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const projects: CollectionEntry<"pages">[] = await getCollection(
  "pages",
  ({ data }) => {
    return !(data.title == "About" || data.title == "Lalit");
  }
);
---

<Layout
  title="More | Lalit"
  description="Random unclassified pieces of information"
  image="/static/more-og.png"
>
  <div>
    <h1 class="title">More</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 items-stretch -mx-3">
      {
        projects.map((p) => (
          <a href={`/more/${p.slug}`}>
            <Card title={p.data.title} description={p.data.description} />
          </a>
        ))
      }
    </div>
  </div>
</Layout>
