---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const post = Astro.props.post;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <p class="uppercase font-mono font-semibold opacity-60 mb-2">
    {
      Intl.DateTimeFormat("en-US", {
        year: "numeric",
        month: "short",
        day: "numeric",
      }).format(new Date(post.data.date))
    }
  </p>
  <h1 class="title text-balance mb-5">
    {post.data.title}
  </h1>

  <div class="md-content">
    <Content />
  </div>
</Layout>
