---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const posts: CollectionEntry<"posts">[] = await getCollection("posts");
---

<Layout title="Posts • Lalit">
  <div>
    <h1 class="title">Posts</h1>
    <div class="post-list">
      {
        posts
          .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
          .map((p, i) => (
            <a
              href={`/posts/${p.slug}`}
              class="hover:text-zinc-500 p-2 border-b border-b-zinc-800 flex flex-col sm:flex-row justify-between sm:items-center border-double"
            >
              <span>{p.data.title}</span>
              <span class="text-zinc-600 font-mono font-semibold uppercase text-xs sm:text-sm">
                {Intl.DateTimeFormat("en-US", {
                  year: "numeric",
                  month: "short",
                  day: "2-digit",
                }).format(new Date(p.data.date))}
              </span>
            </a>
          ))
      }
    </div>
  </div>
</Layout>

<style>
  .post-list > a:nth-child(1) {
    @apply border-t border-t-zinc-800;
  }
</style>
