---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 " description="Uh oh! This page does not exists.">
  <h1 class="title">Uh oh!</h1>
  <p>You managed to land on a page that does not exist.</p>
  <p class="my-2">
    You think this is a mistake?
    <a class="link-underline" href="/contact">Let me know</a>
  </p>
  <p>
    <a class="link-underline" href="/">Go back to the home page</a>
  </p>
</Layout>
