---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm";
---

<Layout title="Contact me">
  <h1 class="title">Contact me</h1>
  <p class="-mt-4">
    You can dm on <a href="https://dm.new/lalit" class="link-underline"
      >twitter</a
    > too!
  </p>
  <ContactForm client:load />
</Layout>
