---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Lalit Kishore">
  <div>
    <p class="mb-5 asd">Hey, I'm Lalit</p>
    <div class="space-y-4 text-balance">
      <p>
        Welcome to the tiny collection of webpages that contains my thoughts and
        projects.
      </p>
      <p>
        I am currently pursuing my undergraduate in computer science in Bits
        Pilani, Goa campus, India.
      </p>
      <p>
        From tinkering with compilers, interpreters and programming languages,
        electronics and crafting blazing fast websites running on the edge and
        everything in between brings me joy.
      </p>
      <p>I also love to build tools for thought.</p>
      <p>
        I occasionaly write down some of my thoughts and about the projects that
        I build. You can view them{" "}
        <a class="link-underline" href="/posts">here</a>
      </p>
      <p>
        I like building side-projects for fun and learning. You can view my
        projects <a class="link-underline" href="/projects">here</a>
      </p>
    </div>
  </div>
</Layout>
