---
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

let entry = await getEntry("pages", "index");
let { Content } = await entry.render();
---

<Layout
  title="Lalit Kishore"
  ,
  description="Personal Site"
  image="/static/og.png"
>
  <div>
    <h1 class="title">Lalit</h1>
    <div class="md-content text-balance">
      <Content />
    </div>
  </div>
</Layout>
