---
const blogData = [
  {
    title: "React tiny tooltip - a react library to create beautiful tooltips",
    description:
      "A brief overview of why and how I created a react library to simplify building tooltips",
    readTime: "3 min read",
    date: "May 26, 2022",
    views: "76k views",
  },
  {
    title: "Create CLI apps the easy way with cac in less than 50 lines",
    description:
      "Let's create a simple tool to shorten links instantly from CLI's",
    readTime: "8 min read",
    date: "March 29, 2022",
    views: "141 views",
  },
  {
    title: "React tiny tooltip - a react library to create beautiful tooltips",
    description:
      "A brief overview of why and how I created a react library to simplify building tooltips",
    readTime: "3 min read",
    date: "May 26, 2022",
    views: "76k views",
  },
  {
    title: "A quick introduction to Prisma",
    description: "Learn about Prisma ORM in a snap with this cheatsheet",
    readTime: "3 min read",
    date: "May 26, 2022",
    views: "76k views",
  },
  {
    title:
      "How I built Paperclip - The ultimate productivity tool you will ever need.",
    description:
      "From notes, whiteboards to code playgrounds, Paperclip is an all in one tool to boost your productivity",
    readTime: "3 min read",
    date: "May 26, 2022",
    views: "76k views",
  },
  {
    title: "Pagely - Build blazing fast websites with Notion in light speed",
    description:
      "Launch SEO friendly, blazing fast websites from Notion, Google Sheets, GitHub and Airtable with Pagely",
    readTime: "3 min read",
    date: "May 26, 2022",
    views: "76k views",
  },
  {
    title:
      "Introducing StaticShield: Password protect any website in less than 2 mins.",
    description: "How I built StaticShield for the HarperDB Hashnode Hackathon",
    readTime: "3 min read",
    date: "May 26, 2022",
    views: "76k views",
  },
  {
    title:
      "Copii: Ready to use fully functional copy button for GitHub README files",
    description:
      "Copii lets you easily add a copy button in your markdown files that copies anything. I'll go through the process of building it",
    readTime: "3 min read",
    date: "May 26, 2022",
    views: "76k views",
  },
];

import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="posts | Lalit">
  <div>
    <h1 class="title">posts</h1>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 gap-2 items-stretch justify-items-stretch"
    >
      {
        blogData.map((p, i) => (
          <a href={`/posts/${p.title.toLowerCase().replace(/\s/g, "-")}`}>
            <Card title={p.title} description={p.description} />
          </a>
        ))
      }
    </div>
  </div>
</Layout>
