---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div
  class="p-3 hover:bg-zinc-900 hover:shadow-zinc-700 hover:border-zinc-900 border border-zinc-900/60 rounded-lg"
>
  <p class="font-medium">{title}</p>
  <p class="opacity-70 mt-1 text-sm line-clamp-2">{description}</p>
</div>
