---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div
  class="h-full rounded-lg px-5 py-3 border border-zinc-900 focus:outline-none block bg-gradient-to-br from-zinc-900/20 to-zinc-900/70 shadow-md shadow-black hover:from-zinc-900/40 hover:to-zinc-900/80 focus:from-zinc-900/40 focus:to-zinc-900/80 focus:ring focus:ring-zinc-800 relative"
>
  <p class="font-medium">{title}</p>
  <p class="opacity-70 mt-1 text-sm line-clamp-2">{description}</p>
</div>
