<svg
  width="35.000625"
  height="26.25"
  class="opacity-80 sm:scale-100 scale-90"
  viewBox="0 0 224 168"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>logo</title>
  <rect
    y="56"
    width="79.1976"
    height="79.1976"
    rx="10"
    transform="rotate(-45 0 56)"
    fill="white"
    stroke="#333"
    stroke-width="5"></rect>
  <rect
    x="56.0029"
    y="112"
    width="79.1976"
    height="79.1976"
    rx="10"
    transform="rotate(-45 56.0029 112)"
    fill="white"
    stroke="#333"
    stroke-width="5"></rect>
  <rect
    x="112.004"
    y="56"
    width="79.1976"
    height="79.1976"
    rx="10"
    transform="rotate(-45 112.004 56)"
    fill="white"
    stroke="#333"
    stroke-width="5"></rect>
</svg>
