---
import {
  DraftingCompass,
  PencilRuler,
  BarChartBig,
  MailPlus,
} from "lucide-react";
import Logo from "../components/Logo.astro";
---

<nav
  class="flex flex-col sm:flex-row items-center justify-between pt-7 pb-12 fixed top-0 w-full bg-gradient-to-b backdrop-filter from-zinc-950 via-zinc-950 sm:via-zinc-950/70 to-transparent z-10 px-5 sm:px-10 mx-auto"
>
  <div class="text-left w-full">
    <a href="/"> <Logo /></a>
  </div>
  <ul class="flex space-x-7 w-full sm:w-auto mt-5 sm:mt-auto">
    <li class="text-zinc-600 hover:text-zinc-400">
      <a href="/projects"> Projects </a>
    </li>

    <li class="text-zinc-600 hover:text-zinc-400">
      <a href="/posts"> Posts </a>
    </li>
    <li class="text-zinc-600 hover:text-zinc-400">
      <a href="/about"> About </a>
    </li>
    <li class="text-zinc-600 hover:text-zinc-400">
      <a href="/contact"> Contact </a>
    </li>
  </ul>
</nav>
