---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const projects: CollectionEntry<"projects">[] = await getCollection("projects");
---

<Layout
  title="Projects | Lalit"
  description="List of all my projects"
  image="/static/project/og.png"
>
  <div>
    <h1 class="title">Projects</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 items-stretch -mx-3">
      {
        projects
          .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
          .map((p) => (
            <a
              href={`/projects/${p.data.title.toLowerCase().replace(/\s/g, "-")}`}
            >
              <Card title={p.data.title} description={p.data.description} />
            </a>
          ))
      }
    </div>
  </div>
</Layout>
